<ul class="nav nav-tabs" id="languages">
	{% for language in languages %} 
		<li><a href="#language{{ language['language_id'] }}" data-toggle="tab">{{ language['name'] }}</a></li>
	{% endfor %} 
</ul>

<div class="tab-content"> <!-- language tab content -->
	{% for language in languages %} 
		<div class="tab-pane" id="language{{ language['language_id'] }}">	
			<table class="table table-hover">
				<thead>
					<tr>
						<td>Type</td>
						<td class="col-sm-6">Status</td>
						<td class="text-right">Total Items</td>
						<td class="text-right">Total Available Keywords</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Product URL Keyword</td>
						<td>
							<div class="progress">
							  <div class="progress-bar progress-bar-success col-sm-12" role="progressbar" aria-valuenow="{{ percent_product_count[language['language_id']] }}"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{ percent_product_count[language['language_id']] }}%">
								{{ percent_product_count[language['language_id']] }}%
							  </div>
							</div>
						</td>
						<td class="text-right">{{ total_product_count[language['language_id']] }}</td>
						<td class="text-right">{{ available_product_count[language['language_id']] }}</td>
					</tr>
					<tr>
						<td>Category URL Keyword</td>
						<td>
							<div class="progress">
							  <div class="progress-bar progress-bar-success col-sm-12" role="progressbar" aria-valuenow="{{ percent_category_count[language['language_id']] }}"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{ percent_category_count[language['language_id']] }}%">
								{{ percent_category_count[language['language_id']] }}%
							  </div>
							</div>
						</td>
						<td class="text-right">{{ total_category_count[language['language_id']] }}</td>
						<td class="text-right">{{ available_category_count[language['language_id']] }}</td>
					</tr>
					<tr>
						<td>Manufacturer URL Keyword</td>
						<td>
							<div class="progress">
							  <div class="progress-bar progress-bar-success col-sm-12" role="progressbar" aria-valuenow="{{ percent_brand_count[language['language_id']] }}"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{ percent_brand_count[language['language_id']] }}%">
								{{ percent_brand_count[language['language_id']] }}%
							  </div>
							</div>
						</td>
						<td class="text-right">{{ total_brand_count[language['language_id']] }}</td>
						<td class="text-right">{{ available_brand_count[language['language_id']] }}</td>
					</tr>
					<tr>
						<td>Information URL Keyword</td>
						<td>
							<div class="progress">
							  <div class="progress-bar progress-bar-success col-sm-12" role="progressbar" aria-valuenow="{{ percent_information_count[language['language_id']] }}"
							  aria-valuemin="0" aria-valuemax="100" style="width:{{ percent_information_count[language['language_id']] }}%">
								{{ percent_information_count[language['language_id']] }}%
							  </div>
							</div>
						</td>
						<td class="text-right">{{ total_information_count[language['language_id']] }}</td>
						<td class="text-right">{{ available_information_count[language['language_id']] }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	{% endfor %} 
</div> <!-- language tab content end-->	
<script type="text/javascript"><!--
$('#languages a:first').tab('show');
//--></script>
